# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment
venv/
env/
.venv/

# Large/raw datasets
data/raw/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log